/*
* Mainly scss variables
*
* v2.1
* https://github.com/cotes2020/jekyll-theme-chirpy
* © 2020 Cotes Chung
* MIT Licensed
*/

/* --- ↓ width and height ---- */

$tab-height: 3.2rem;
$tab-cursor-height: 1.6rem;

$sidebar-width-small: 210px;
$sidebar-width-medium: 260px;
$sidebar-width-large: 350px;

$topbar-height: 3rem;

$footer-height: 5rem;

$main-content-max-width: 1150px;

$panel-max-width: 300px;

$post-extend-min-height: 35rem;

$text-color: green;
